@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

// colors
$orange: #fd780b;
$lightgray: #b6b7b8;

.formView {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100% - 100px);

  form {
    align-content: center;
    width: 25%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    *:nth-child(2n) {
      margin-bottom: 20px;
    }
    input {
      text-align: center;
    }
  }
}

.errorMsg {
  color: red;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  height: fit-content;
}
